body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24)
}

h1,h2,h3,h4,p{
    color: white;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
    flex-direction: column;
  align-items: center;
  padding: 10px 0px 10px 0px;
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgb(70 70 70 / 7%)
  );
  backdrop-filter: blur(20px);
}

.logo img {
  width: 190px;
}

.navbar {
  display: flex;
  list-style-type: none;

}

.navbar li {
  padding: 0px 40px 0px 40px;
  position: relative;
  transition: 1s;
}

.navbar li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #edf0f1;
  text-decoration: none;
}

.navbar li a:hover {
  text-shadow: 0px 0px 10px #ffffff;
}

.navbar li .wrap-menu{
    list-style-type: none;
    opacity: 0;
    display: none;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    position: absolute;
    left: 0%;
    width: 150px;
    background: rgb(19, 19, 19);
    border-radius: 10px;
    transition: 0.2s;
}

.wrap-menu li{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
}

.wrap-menu li a {
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    transition: background-color 200ms ease-in-out;
}

.wrap-menu li a:hover{
    text-shadow: none;
    background-color: rgb(255, 255, 255);
    color: black;
}

.navbar li:hover .wrap-menu {
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

img {
  border-radius: 3px;
  transition: 0.5s;
}

img:hover {
  transition: 0.5s;
  opacity: 0.3;
}
